
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-brand {
    width: 15rem;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column; 
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -30rem;
    transition: all 650ms ease-in-out;
    z-index: 999;
}

.nav-list.active {
    right: 0;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    background: transparent;
    color: var(--color-primary-black);
}

.menu-icons {
    display: block; 
    font-size: 3.5rem;
    cursor: pointer;
}

.nav-cta.mobile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
    padding: 0 2rem;
}

.desktop-buttons {
    display: none; 
}

.btn-header {
    opacity: 100%;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.user-info img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 900px) {
    .nav-list {
        flex-direction: row;
        width: auto;
        height: auto;
        position: static;
        background-color: transparent;
        transition: none;
        align-items: center;
    }

    .nav-list.active {
        right: auto;
    }

    .menu-icons {
        display: none;
    }

    .nav-cta.mobile-buttons {
        display: none;
    }

    .desktop-buttons {
        display: flex;
        gap: 2rem;
    }

    .btn-header {
        opacity: 50%;
    }

    .nav-link {
        font-size: 1.5rem;
        color: var(--color-primary-black);
    }
    .user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}
