
.footer-container {
    background-color: #0F172A;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-gray-border);
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem; 
    text-align: center;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 601px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4.8rem 8rem;
        text-align: left;
    }

    .footer-list {
        flex-direction: row;
        gap: 3rem;
    }
}
