:root{
  --color-white:#ffffff;
  --color-header:#475569;
  --color-primary-black:#1E293B;
  --color-gray:#64748B;
  --color-gray-border:#94A3B8;
  --color-secondary-gray:#757575;
  --color-orange:#D26100;
  --color-green:#16A34A;
  --btn-bg:#D26100;
}
*,
*::before,
*::after{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

html{
   font-family: 'Inter', sans-serif;
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  background: #f7fbff;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
p{
  font-size: 1.6rem;
}
img{
  max-width: 100%;
}
section{
  padding: 5rem 0;
}
header {
    width: 100%;
    padding: 1rem;
    border-bottom:1px solid #CACACA ;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.whitespace {
  white-space: nowrap;
}
.btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight:600;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}
.btn-primary{
  background-color: var(--btn-bg);
  padding:1.5rem 2.8rem;
  border-radius: 16px;
  color: var(--color-white);
}